body{
    background-color: #ffe2ea;  
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 0.75ch solid black;
    padding: 2ch;
    width: 25%;
    margin-left: 50ch;
    background-color: #ff5999;
}
th,td{
    border:1px solid black
}