body{
    background-color: #ffe2ea;  
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    border: 0.75ch solid black;
    padding: 2ch;
    width: 25%;
    background-color: #ff5999;
}
th,td{
    border:1px solid  #ff5999;
}

.collaps{
    width: 100%;
    font-size: 3.5ch;
    border: none;
    background-color: #ff5999;
    margin-top: 5%;
    text-align: left;
}
.active, .collaps:hover {
    background-color: #ffe2ea;

}

.collaps:after {
    content: '\25BC';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25B2";
    color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    width: 14px;
    height: 60px;
}
